[user]
	name = rski
	email = rom.skiad@gmail.com
[push]
	default = simple
[core]
	editor = vim
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	unstage = reset HEAD --
	s = status
