[submodule "submodules/vim-plug"]
	path = submodules/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "awesome/.config/awesome/pomodoro"]
	path = awesome/.config/awesome/pomodoro
	url = https://github.com/nikolavp/awesome-pomodoro
